html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding: 15px;
    height: 100%;
}

.body {
    background: #F0F8FF;
    max-width: 550px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    text-align: center;
}

.header {
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
}

.subheader {
    display: inline-block;
    padding-top: 10px;
    vertical-align: text-bottom;
}

.subheader label, .subheader button {
    display: inline-block;
    vertical-align: text-bottom;
}

.subheader input, .subheader button {
    border: 1px solid #AAA;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1em;
    padding: 5px;
    vertical-align: text-bottom;
}

.subheader input {
    min-width: 200px;
}

.subheader button {
    border: 1px solid #AAA;
    background-color: #FFF;
}

.subheader button:hover {
    border: 1px solid #88BBF5;
    background-color: #FFF;
    color: #4175AF;
    cursor: pointer;
}

.subheader button[disabled] {
    border: 1px solid #AAA;
    background-color: #EEE;
    color: #AAA;
    cursor: default;
}

.subheader button[disabled]:hover {
    border: 1px solid #AAA;
    background-color: #EEE;
    color: #AAA;
    cursor: default;
}

#answer {
    border-radius: 10px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
}

.output {
    background: #95D8FF;
}

.output input,
.output input:focus,
.output input::selection {
    border: 0;
    background: none;
    outline: 0;
    cursor: default;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 0;
    width: 100%;
    text-align: center;
}